body{
  background: linear-gradient(90deg,#BA06FF,#CC46FF);
  padding: 0!important;
  margin: 0!important;
}
#dm{
	width: 40px;
	height: 40px;
	outline: none;
	border: none;
	color: white;
}
h1{
  text-align: center;
  color: white;
  margin-top: 3rem!important;
}

.cont{
  width: 100%;
  display: block;
}
.container-xxl{
  padding: 0!important;
}
.bg{
  float: right;
  margin-right: 0!important;
  margin-top: 30px!important;
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
  padding: 10px!important;
  padding-top: 5px!important;
  padding-bottom: 5px!important;
}
.clr{
  clear: both;
}



.form-check-input{
	float: right!important;
	margin-right: 15px;
	margin-top: 18px!important;
}

.setting-items-ul{
	padding: 0;
	margin: 0!important;
	margin-top: 15px;
}
.setting-items-ul li{
	margin: 0!important;
	margin-left: 10px;
	padding: 10px 0!important;
	border-bottom: 1px solid whitesmoke;
}


.column{
  padding: 0;
  width: 100%;
  background-color: white;
  height: 32px;
  margin-top: 4rem;
  font-family: sans-serif;
  font-weight: 600;
  color: #9203C8;
  text-align: right;
  font-size: 20px;
  line-height: 1.9rem;
  padding-right: 9px;
  display: block;
  border: none;
  outline: none;
}
.offcanvas{
  background: rgba(0, 0, 0, .6)!important;
  color: whitesmoke!important;
}
.btn-cls{
  margin: 0!important;
  color: white!important;
  font-weight: 800!important;
  font-size: 40px;
  margin-right: 5px!important;
  border: none!important;
  
}
#leftrow{
  position: absolute;
  display: inline-block;
  background: rgba(0, 0, 0, .4);
  height: 32px;
  width: 50vw;
  float: left;
}

.btns{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  
}
.btnm{
  padding: 5px;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin: 0 30px;
  outline: none;
  transition: 0.4s;
  background: none;
  color: white;
  border: 3px solid white;
}

.btnm:active{
  border-color: whitesmoke;
  background-color: whitesmoke;
  color: #BA06FF;
}

.btnmh{
  padding: 5px;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin: 0 30px;
  outline: none;
  transition: 0.4s;
  background: whitesmoke;
  color: #BA06FF;
  border: 3px solid whitesmoke;
}



/* .center:after{
  content: "Xush kelibsiz!"
}
 */
/* Desktop,*/

@media(min-width: 720px){
  .btnm:hover{
    cursor: pointer;
  }
  .column{
    margin-top: 10rem;
    height: 55px;
    font-size: 40px;
    line-height: 3.8rem;
  }
  #leftrow{
    height: 55px;
  }
  .btnm{
    font-size: 30px;
    border-width: 6px;
    border-radius: 10px;
  }
}


