body{
  background-image: url("./bg.jpg");
  padding: 0!important;
  margin: 0!important;
}
h1{
	color: white;
	margin-top: 20px!important;
	margin-left: 15px;
	display: inline-block;
	font-family: sans-serif;
	font-weight: 100!important;
}

.row{
	margin-top: 2rem!important;
	padding: 0;
}

.row>div{
	background-color: white;
	padding: 15px;
	margin: auto;
	margin-top: 2px;
	display: inline-block;
}
.row>div>p{
	display: block;
	padding: 0;
	margin: 5px 0;
	color: grey;
	font-family: sans-serif;
	font-weight: 700;
	border-bottom: 1px solid grey;
}
.row>div>p>span{
	color: limegreen;
	float: right;
}

.accordion-item{
	background: none!important;
	border: none!important;
	display: block;
	margin: 0!important;
	padding: 0!important;
	color: white;
	border-bottom: 1px solid white;
}
.accordion-button{
	color: #fff!important;
	font-family: sans-serif;
	font-weight: 700;
	background: none!important;
	padding: 15px 0!important;
	margin: 0!important;
	width: 100%!important;
	display: block!important;
	border-radius: 3px!important;
	box-sizing: border-box!important;
}

.bg{
  float: right;
  margin-right: 0!important;
  margin-top: 15px!important;
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
  padding: 10px!important;
  padding-top: 5px!important;
  padding-bottom: 5px!important;
}
.clr{
  clear: both;
}

.time{
	padding: 5px 10px;
	background-color: rgba(0, 0, 0, .3);
	color: white;
	font-family: monospace;
	font-weight: 200;
	font-size: 22px;
	display: inline-block;
}
.time * {
	display: inline-block;
	line-height: 0;
	letter-spacing: 0;
}

.form-check-input{
	float: right!important;
	margin-right: 15px;
	margin-top: 18px!important;
}

.setting-items-ul{
	padding: 0;
	margin: 0!important;
	margin-top: 15px;
}
.setting-items-ul li{
	margin: 0!important;
	margin-left: 10px;
	padding: 10px 0!important;
	border-bottom: 1px solid whitesmoke;
	list-style: none;
}


.column{
  padding: 0;
  width: 100%;
  background-color: white;
  height: 32px;
  margin: 0;
  margin-top: 1rem;
  font-family: sans-serif;
  font-weight: 600;
  color: #9203C8;
  text-align: right;
  font-size: 25px;
  line-height: 1.9rem;
  display: block;
  border: none;
  outline: none;
}
.column p{
	display: inline-block;
	width: 20px;
	margin: 0;  
	background: none;
	text-align: center;
}
.offcanvas{
  background: rgba(0, 0, 0, .6)!important;
  color: whitesmoke!important;
}
.btn-cls{
  margin: 0!important;
  color: white!important;
  font-weight: 800!important;
  font-size: 40px;
  margin-right: 5px!important;
  border: none!important;
  
}
#leftrow{
  position: absolute;
  background: rgba(0, 0, 0, .4);
  height: 32px;
  width: 50vw;
  float: left;
}

.btns{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  
}
.btnm{
  padding: 5px 10px;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin: 0 30px;
  outline: none;
  transition: 0.4s;
  background: none;
  color: white;
  border: 3px solid white;
}

.btnm:active{
  border-color: whitesmoke;
  background-color: whitesmoke;
  color: #BA06FF;
}


/* .center:after{
  content: "Xush kelibsiz!"
}
 */
/* Desktop,*/

@media(min-width: 720px){
  .btnm:hover{
    cursor: pointer;
  }
  .bg,h1{
  	margin-top: 30px!important;
  	margin-left: 30px!important;
  	font-weight: 500!important;
  }
  .column{
    margin-top: 4rem;
    height: 55px;
    line-height: 3.8rem;
  }
  #leftrow{
    height: 55px;
  }
  .btnm{
    font-size: 30px;
    border-width: 6px;
    border-radius: 10px;
  }
  .time{
  	font-size: 40px;
  }
}


